:root{
    --bg-color:#fbfbfe;
    --primary-color:rgb(58, 137, 255);
    --primary-color1:rgba(32, 118, 247, 0.945);
    --btn-color:#0000003c;
    --hover-btn-color:rgb(70, 117, 237);
    --para-color:#6d6a7c;
    --border-color:#ece6e6;
    --form-color:#f0eefc;
    --white:#fff;
    --black:#000;
    --section-padding :3rem 1rem;

    /* header height */
    --header-height:3rem;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Typography */

:root{
    --big-font:2.2rem;
    --medium-font:1.5rem;
    --small-font:1rem;
    --normal-font:1.1rem;
    --ex-small-font:0.9rem;
    --h1-font:3rem;
    --h2-font:2.5rem;
    
    /*Font-weights*/
    --regular-size:400;
    --medium-size:500;
    --semi-bold-size:600;
    --bold-size:700;
}

html{
    scroll-behavior: smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    /* background-color:var(--bg-color); */
    background-color:#1d1d2b;  /*dark theme found*/
    background-color:#f8f9fa;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    transition: ease-in-out 2s;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 100;
    background-color:#ffffff;
    padding:0 2rem;
}

nav{
    width:100%;
    z-index:110;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:70px;
}

.container{
    max-width: 992px;
    margin: 0 auto;
}

.logo{
    font-size: var(--medium-font);
    font-weight:var(--medium-size);
}

.logo:hover{
    color: var(--primary-color1);
    cursor: pointer;
}

.navlinks ul{
    display: flex;
    gap: 2rem;
}

#home-li{
    color:var(--primary-color1);
}

.navlinks ul li a{
    color:#000;
    font-size: var(--small-font);
    font-weight: var(--medium-size);
}

.navlinks ul li a:hover{
    color:var(--primary-color1);
}

.hamburger{
    display: none;
}

/* Profile section */

section{
    padding: 3rem 1.5rem;
}

.profile{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5.5rem;
    padding: var(--section-padding);
}



.icon-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap:2rem;
}

.profile-des p{
    padding-bottom: 3rem;
    font-size: var(--normal-font);
    color:var(--para-color);
    line-height:1.7rem;
    text-align: justify;
    max-width: 380px;
}

.profile-des button{
    padding: 1.5rem 2rem;
    border-radius:10px;
    border:none;
    background-color: rgba(0, 49, 122, 0.664);
    font-size:var(--small-font);
    font-weight: var(--bold-size);
    color:#fff;
    cursor: pointer;
}


.profile-des button:hover{
    background-color: var(--hover-btn-color);
}

.profile-des h1{
    font-size: var(--h1-font);
    font-weight: var(--bold-size);
    padding-bottom:0.1rem;
    text-wrap:nowrap;
}

.profile-des h1 span{
    color:var(--primary-color);
}

.profile-des .role{
    font-size: var(--medium-font);
    font-weight: var(--bold-size);
    line-height:2.5;
}

.profile-pic-div{
    display: flex;
    justify-content: center;
    align-items:center;
}

.profile-pic{
    width:300px;
    height:300px;
    background-position: 50%;
    box-shadow: 0 0 0 9px rgba(27, 112, 240, 0.575);
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    animation:animatepic 8s ease-in-out infinite;
} 

#socio-icon{
    color:#272727;
}

#socio-icon:hover{
    color:var(--primary-color1);
}

@keyframes animatepic {
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    
}

/* About Section */
.title{
    padding: 0 0 0.5rem ;
    text-align: center;
    font-size:var(--big-font);
}

.subtitle{
    color:var(--para-color);
    text-align: center;
}

.about-contents{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:4rem;
    padding: var(--section-padding);
}

.about-contents-info{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    gap:3rem;
}

.about-pic{
    width:300px;
    object-fit: cover;
    border:1px solid var(--border-color);
    border-radius: 30px;
}

.total-cards{
    display: flex;   
    gap:0.5rem;
    padding: 1rem;
}

.card{
    width: 120px;
    height:120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border:1px solid var(--border-color);
   border-radius: 20px;
   color:var(--black);
}

.description{
    font-size: var(--normal-font);
    color:var(--para-color);
    line-height:1.7rem;
    text-align: center;
    max-width: 350px;
}

/*Skills Section*/

.skillcontent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3rem;
    padding: var(--section-padding);
}

.skillcard{
    height:230px;
    width:370px;;
    border-radius: 25px;
    background-color:#fff;
    border:1px solid var(--primary-color1);
    transition: all ease-in-out 0.35s;
    cursor: pointer;
}

.skillcard:hover{
    transform: translateY(10px);
    box-shadow: 1px 1px 10px rgba(78, 144, 242, 0.575);
}

.skill-title{
    text-align: center;
    font-size: var(--normal-font);
    padding:1rem 0;
}

.skill-columns{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skill-stack{
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.AIML-icons{
    width: 23px;
}


.skill{
    display: flex;
    align-items: center;
    gap:0.5rem;
}

/* Projects Section */

.project-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    place-items: center;
    gap:2rem;
    padding-top: 3rem ;
}

.project-card{
    width:300px;
    height:470px;
    border-radius: 30px;
    background-color:#fff ;
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: all ease-in-out 0.35s;
    padding:1rem;
}

.project-card:hover{
    transform: translateY(10px);
    box-shadow: 1px 1px 10px rgba(78, 144, 242, 0.575);
}


.prjt-thumbnail{
    width:268px;
    border-radius:30px;
    height:13rem;
    border:1px solid var(--border-color);
    object-position:cover;
}

.prjt-des{
    padding:1rem 0.5rem;
}


.prjt-duration{
    color:var(--black);
    font-size:var(--small-font);
    line-height:30px;
}

.prjt-info{
    font-weight: 400;
    font-size:15px;
    color: var(--para-color);
    text-align:start;
    line-height:23px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
}

.git-butn{
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}

.repo{
    padding: 0.8rem;
    color: #fff;
    font-size: var(--small-font);
    font-weight: var(--medium-size-size);
    display: flex;
    border-radius: 20px;
    border: none;
    background-color: var(--primary-color1);
    justify-content: center;
    cursor: pointer;
}

.repo:hover{
    background-color: var(--hover-btn-color);
}

/* Qualification section */
.edu-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:3rem 0 0 0;
    color:var(--para-color);
    gap:1rem;
    font-size: var(--normal-font);
}

.qualification-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:3rem 1rem;
}

.qualify-tot-datas{
    max-width:max-content;
}

.qualfication-data{
    display:grid;
    grid-template-columns:1fr max-content 1fr;
    gap:1rem;
}

.qualify-institute{
    color: #757575;
}

.qualify-calender{
    color: #a19fad;
    font-size: var(--ex-small-font);
}

.qualify-gap{
    display: flex;
}

.studies{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.studies div:first-child{
    font-weight: var(--medium-size);
}

.qualify-rounder{
    display:inline-block;
    width: 15px;
    border-radius:50%;
    transform: translate(8px);
    height: 15px;
    background-color: var(--primary-color1);
}

.qualify-line{
    min-height: 100px;
    width: 1px;
    background-color: var(--primary-color1);
}

/* Contact Section */


.contact-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: var(--section-padding);
}

.contact-left-sec{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.my-info{
    display: flex;
    align-items: center;
    gap:1rem;
}

.contact-via{
    font-size: var(--normal-font);
    font-weight: var(--semi-bold-size);
    color:var(--black);
}

.contact-num{
    color:#757575;
    font-size: var(--ex-small-font);
}

.contact-right-sec{
    display: flex;
    flex-direction: column;
    gap:1rem;
    
}

.contact-textbox{
    background-color: var(--form-color);
    border-radius:10px;
    padding:0.7rem;
}


.contact_label{
    color:var(--para-color);
    font-size: var(--ex-small-font);
}

.contact-input{
    width:100%;
    max-width: 250px;
    max-height:130px;
    font-size: var(--small-font );
    background-color: var(--form-color); 
    border: none;
    outline: none;    
}
.txt-box{
    width:100%;
    max-width: 250px;
    max-height:130px;
    font-size: var(--small-font );
    background-color: var(--form-color); 
    border: none;
    outline: none;    
}

/* Footer-section */

footer{
    background-color:var(--white);
    max-width:100%;
    padding: var(--section-padding);
    border:1px solid var(--border-color);
}

.footer-content{
    display:grid;
    row-gap:2.5rem;
    padding:0 1rem;
    grid-template-rows: 1fr 1fr fit-content;
    justify-content: center;
}

.logo-div{
    display: grid;
    justify-content: center;
    align-items: center;
}
.logo-div img{
    background-color: #fff;
}

.app-logo{
    width:100px;
    
}

.footer-myname{
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height:40px;
}

.footer-name{
    color: var(--black);
    font-size: var(--big-font);
    font-weight: var(--semi-bold-size);
}

.footer-name:hover{
    color: var(--primary-color1);
}

.footer-role{
    color:var(--black);
    font-size: var(--normal-font);
}

.footer-nav-scroll{
    display: flex;
    justify-content: center;
    gap:2rem;
}

.footer-nav-scroll a{
    color: var(--black);
    font-size: var(--normal-font);
}

.footer-nav-scroll a:hover{
    color:var(--primary-color1);
}

.footer-social-link{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}
#footer-icon:hover{
    color:var(--primary-color);
}
.copyright{
    color:var(--black);
    font-size: var(--ex-small-font);
    text-align: center;
    padding-top:5rem;
}


.copyright span{
    color: var(--primary-color1);
}
/* 
Breakpoints :

1024
786
425
375
320 */