*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --bg-color:#fbfbfe;
    --primary-color:#6e57e0;
    --hover-btn-color:#5a43cb;
    --para-color:#6d6a7c;
    --border-color:#ece6e6;
}

:root{
    --big-font:2.2rem;
    --medium-font:1.5rem;
    --small-font:1rem;
    --normal-font:1.2rem;
    --ex-small-font:0.9rem;
    --h1-font:3rem;
    --h2-font:2.5rem;
    
    /*Font-weights*/
    --regular-size:400;
    --medium-size:500;
    --semi-bold-size:600;
    --bold-size:700;
}

body{
    background-color: #fbfbff;
    padding-bottom:2000px ;
    padding-top:100px;
}

div {
    margin: 0;
    padding: 0;
}

.project-card{
    width:300px;
    height:440px;
    border-radius: 35px;
    background-color:#fff ;
    padding:0.6rem;
    margin:3rem;
}


.project-img{
    width:280px;
    border-radius:40px;
    height:13rem;
    object-position:cover;
}

.project-des{
    padding:1rem 0.5rem;
}

.project-duration{
    color:var(--para-color);
    font-size:var(--ex-small-font);
}

.project-info{
    font-weight: var(--bold-size);
    font-size: var(--small-font);
    text-align:start;
    line-height:23px;
}


.project-view{
    display: flex;
    align-items: center;
    justify-content: center;
}

.view{
    padding:13px;
    border:none;
    border-radius:6px;
    color:black;
    cursor:pointer;
    background-color:var(--primary-color);
    display: flex;
    color: #fff;
    align-items: center;
}


#modalcard{
    width:700px;
    max-width:80%;
    min-height:800px;
    background-color:#c4b9b9;
    position:absolute;
    top:50;
    left:50;
    transform: translate(50% ,-50%) scale(1);  
    border-radius:10px;
    padding:0.5rem  0.5rem 1.5rem ;
    transition:200ms ease-in-out;
    z-index: 100;
}

#modalcard.active{
    transform: translate(50% ,-50%) scale(0);      
}

.close-btn-div{
    display: flex;
    margin-right: 0.5rem;
    justify-content: end;
    align-items: center;
}
.close-btn{
    border: none;
    cursor: pointer;
    padding:2px 5px;
    font-size: var(--medium-font);
    font-weight: var(--medium-font);
}

#title-mem{
    padding:0.5rem;
}

.modal-project-infos{
    padding:0 0.5rem;
}

.pro-img{
    padding:0.5rem;
    width:680px;
    border-radius:40px;
}

.tech-used{
    display: flex;
    gap:1rem;
    align-items: center;
    padding:1rem 0;
}

.tech-used div{
    margin-top:2px;
    padding:0.2rem;
    border-radius:3px;
    background-color:var(--primary-color);
    color:#fff;
}

.members{
    display:flex;
    align-items: center;
    column-gap:1rem ;
    padding: 0.5rem;
}

#contributors-img{
    width:40px;
    border-radius: 50%;
}

.member-id{
    display: flex;
    gap:2rem;
}

.project-link{
    display: flex;
    justify-content: center;
}

.view-code{
    padding:0.8rem 17rem;
    border-radius: 10px;
    border:none;
    font-size:var(--normal-font);
    font-weight:var(--medium-size);
    background-color:var(--primary-color);
}

#overlay{
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay.active{
    pointer-events: all;
    opacity: 1;
}